thead {
    border-bottom: 1px solid #ccc;
}

.header-table {
    display: flex;
}

.raport__body {
    padding: 34px;
    width: 100%;
    background-color: $white;
    display: flex;
    border-radius: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    table {
        font-size: 11px !important;
        input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            border-radius: 4px;
            outline: none;
            transition: border-color 0.3s;
            position: relative;
            cursor: pointer;
        }

        input[type="checkbox"]::before {
            content: "\2573";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 21px;
            height: 21px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            opacity: 0;
            transition: opacity 0.3s;
        }

        input[type="checkbox"]:checked::before {
            opacity: 1;
        }

        .sm-td {
            width: min-content;
        }

        .td-description {
            font-weight: 600;
            font-size: 15px;
        }
    }

    h1 {
        font-size: 19px;
        font-weight: 600;
    }

    .save {
      margin-left: auto;
    }

    .raport__title {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      align-items: center;

      h1 {
        font-weight: 700;
        font-size: 1em;
      }

      .left__marg {
        margin-left: auto;
        font-size: 13px;
      }

      &-row {
        display: flex;
        gap: 15px;
      }

      &-bg {
        display: flex;
        width: 100%;
      }
    }

    .raport__information {
      display: flex;
      flex-direction: column;

      span {
        font-weight: bold;
      }

      ul {
        li {
          display: flex;
          gap: 8px;
          margin-bottom: 7px;

          .lid {
            border-bottom: 1px solid;
            width: 550px;
          }
        }
      }

      &-border {
        width: 100%;
        padding: 11px;
        border: 1px solid $dark;
      }

    }
}

.right__marg {
  margin-right: auto;
  text-align: left;
  font-size: 11px !important;
}
  
.nrlb {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-direction: column;
  border-left: 0px !important;
  border-right: 0px !important;
  text-align: center;

  h3 { 
    font-size: 14px !important;
  }
}

.one {
  display: flex;
  flex-direction: column;
  gap: 15px;

  ul {
    li {
      display: flex;
      gap: 9px;

      .lid {
        border-bottom: 1px solid $dark;
        width: 50%;
      }
    }
  }
}

.threet {
  display: flex;
  flex-direction: column;
  gap: 15px;

  span {
    padding-top: 15px;
    font-size: 11px;
  }

  span:nth-child(2) {
    font-weight: bold;
  }
}
  thead th {
    padding: 10px;
    border: 1px solid $dark;
  }
  
  tbody {
    tr {
      td {
        padding: 5px;
        text-align: center;
      }

      .td_gray {
        color: $dark;
        background-color: #ccc;
      }
    }
  }

tr {
    td {
      padding: 10px;
      font-size: 14px;
      text-align: center;
      border: 1px solid $dark;

    }
  }
  .delete-icon-invest {
    cursor: pointer;
  }


.left_vert {
    text-align: center;
}
  