@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700;800;900&display=swap');


html {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-main;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  // width: 1440px;
}

.messages {
  width: 100%;
  z-index: 999;
  margin-bottom: 10px;


  .error {
    background-color: #DC4141;
    color: $white;
    width: 100%;
    gap: 8px;
    display: flex;
    
    height: 44px;
    align-items: center;
    justify-content: center;
  }

  .success {
    background-color: #b2ff9e;
    color: $dark;
    width: 100%;
    gap: 8px;
    display: flex;
    
    height: 44px;
    align-items: center;
    justify-content: center;
  }
}