{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Управление филиалами</title>
</head>
<body class="w-full bg-gray">
    {% include './sidebar.html' %}
    <div class="extends-container min-h relative">
        <div class="pad-module">
            <div class="container">
    {% block add_company %}
    {% endblock add_company %}
    {% block reports_branch %}
    {% endblock reports_branch %}
    {% block users %}{% endblock users %}
    {% block users_detail %}{% endblock users_detail %}
    {% block reports %}
    {% endblock reports %}
    {% block informatie_client %}
    {% endblock informatie_client %}
    {% block economica %}{% endblock economica %}
    {% block privind_detail %}{% endblock privind_detail %}
    {% block privind %}{% endblock privind %}
    {% block cadrelor %}{% endblock cadrelor %}
    {% block cadrelor_detail %}{% endblock cadrelor_detail %}
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/rows.js' %}"></script>
<script src="{% static 'js/value_sum.js' %}"></script>
</html>